/****** Object:  Table [dbo].[DR15_IndexMap2]    Script Date: 7/31/2018 1:33:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DR15_IndexMap2](
	[indexmapid] [int] NOT NULL,
	[code] [varchar](2) NOT NULL,
	[type] [varchar](32) NOT NULL,
	[tableName] [varchar](128) NOT NULL,
	[fieldList] [varchar](1000) NOT NULL,
	[foreignKey] [varchar](1000) NOT NULL,
	[indexgroup] [varchar](128) NOT NULL,
	[compression] [varchar](32) NULL,
	[filegroup] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[indexmapid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DR15_IndexMap2] ([indexmapid], [code], [type], [tableName], [fieldList], [foreignKey], [indexgroup], [compression], [filegroup]) VALUES (1, N'K', N'primary key', N'PartitionMap', N'fileGroupName', N'', N'META', NULL, NULL)
GO
INSERT [dbo].[DR15_IndexMap2] ([indexmapid], [code], [type], [tableName], [fieldList], [foreignKey], [indexgroup], [compression], [filegroup]) VALUES (2, N'K', N'primary key', N'FileGroupMap', N'tableName', N'', N'META', NULL, NULL)
GO
INSERT [dbo].[DR15_IndexMap2] ([indexmapid], [code], [type], [tableName], [fieldList], [foreignKey], [indexgroup], [compression], [filegroup]) VALUES (3, N'K', N'primary key', N'IndexMap', N'indexmapid', N'', N'META', NULL, NULL)
GO
