USE [BestDR13_CCI]
GO
/****** Object:  Table [dbo].[galSpecLine]    Script Date: 2/14/2017 9:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[galSpecLine2](
	[specObjID] numeric(20) NOT NULL,
	[sigma_balmer] [real] NOT NULL,
	[sigma_balmer_err] [real] NOT NULL,
	[sigma_forbidden] [real] NOT NULL,
	[sigma_forbidden_err] [real] NOT NULL,
	[v_off_balmer] [real] NOT NULL,
	[v_off_balmer_err] [real] NOT NULL,
	[v_off_forbidden] [real] NOT NULL,
	[v_off_forbidden_err] [real] NOT NULL,
	[oii_3726_cont] [real] NOT NULL,
	[oii_3726_cont_err] [real] NOT NULL,
	[oii_3726_reqw] [real] NOT NULL,
	[oii_3726_reqw_err] [real] NOT NULL,
	[oii_3726_eqw] [real] NOT NULL,
	[oii_3726_eqw_err] [real] NOT NULL,
	[oii_3726_flux] [real] NOT NULL,
	[oii_3726_flux_err] [real] NOT NULL,
	[oii_3726_inst_res] [real] NOT NULL,
	[oii_3726_chisq] [real] NOT NULL,
	[oii_3729_cont] [real] NOT NULL,
	[oii_3729_cont_err] [real] NOT NULL,
	[oii_3729_reqw] [real] NOT NULL,
	[oii_3729_reqw_err] [real] NOT NULL,
	[oii_3729_eqw] [real] NOT NULL,
	[oii_3729_eqw_err] [real] NOT NULL,
	[oii_3729_flux] [real] NOT NULL,
	[oii_3729_flux_err] [real] NOT NULL,
	[oii_3729_inst_res] [real] NOT NULL,
	[oii_3729_chisq] [real] NOT NULL,
	[neiii_3869_cont] [real] NOT NULL,
	[neiii_3869_cont_err] [real] NOT NULL,
	[neiii_3869_reqw] [real] NOT NULL,
	[neiii_3869_reqw_err] [real] NOT NULL,
	[neiii_3869_eqw] [real] NOT NULL,
	[neiii_3869_eqw_err] [real] NOT NULL,
	[neiii_3869_flux] [real] NOT NULL,
	[neiii_3869_flux_err] [real] NOT NULL,
	[neiii_3869_inst_res] [real] NOT NULL,
	[neiii_3869_chisq] [real] NOT NULL,
	[h_delta_cont] [real] NOT NULL,
	[h_delta_cont_err] [real] NOT NULL,
	[h_delta_reqw] [real] NOT NULL,
	[h_delta_reqw_err] [real] NOT NULL,
	[h_delta_eqw] [real] NOT NULL,
	[h_delta_eqw_err] [real] NOT NULL,
	[h_delta_flux] [real] NOT NULL,
	[h_delta_flux_err] [real] NOT NULL,
	[h_delta_inst_res] [real] NOT NULL,
	[h_delta_chisq] [real] NOT NULL,
	[h_gamma_cont] [real] NOT NULL,
	[h_gamma_cont_err] [real] NOT NULL,
	[h_gamma_reqw] [real] NOT NULL,
	[h_gamma_reqw_err] [real] NOT NULL,
	[h_gamma_eqw] [real] NOT NULL,
	[h_gamma_eqw_err] [real] NOT NULL,
	[h_gamma_flux] [real] NOT NULL,
	[h_gamma_flux_err] [real] NOT NULL,
	[h_gamma_inst_res] [real] NOT NULL,
	[h_gamma_chisq] [real] NOT NULL,
	[oiii_4363_cont] [real] NOT NULL,
	[oiii_4363_cont_err] [real] NOT NULL,
	[oiii_4363_reqw] [real] NOT NULL,
	[oiii_4363_reqw_err] [real] NOT NULL,
	[oiii_4363_eqw] [real] NOT NULL,
	[oiii_4363_eqw_err] [real] NOT NULL,
	[oiii_4363_flux] [real] NOT NULL,
	[oiii_4363_flux_err] [real] NOT NULL,
	[oiii_4363_inst_res] [real] NOT NULL,
	[oiii_4363_chisq] [real] NOT NULL,
	[h_beta_cont] [real] NOT NULL,
	[h_beta_cont_err] [real] NOT NULL,
	[h_beta_reqw] [real] NOT NULL,
	[h_beta_reqw_err] [real] NOT NULL,
	[h_beta_eqw] [real] NOT NULL,
	[h_beta_eqw_err] [real] NOT NULL,
	[h_beta_flux] [real] NOT NULL,
	[h_beta_flux_err] [real] NOT NULL,
	[h_beta_inst_res] [real] NOT NULL,
	[h_beta_chisq] [real] NOT NULL,
	[oiii_4959_cont] [real] NOT NULL,
	[oiii_4959_cont_err] [real] NOT NULL,
	[oiii_4959_reqw] [real] NOT NULL,
	[oiii_4959_reqw_err] [real] NOT NULL,
	[oiii_4959_eqw] [real] NOT NULL,
	[oiii_4959_eqw_err] [real] NOT NULL,
	[oiii_4959_flux] [real] NOT NULL,
	[oiii_4959_flux_err] [real] NOT NULL,
	[oiii_4959_inst_res] [real] NOT NULL,
	[oiii_4959_chisq] [real] NOT NULL,
	[oiii_5007_cont] [real] NOT NULL,
	[oiii_5007_cont_err] [real] NOT NULL,
	[oiii_5007_reqw] [real] NOT NULL,
	[oiii_5007_reqw_err] [real] NOT NULL,
	[oiii_5007_eqw] [real] NOT NULL,
	[oiii_5007_eqw_err] [real] NOT NULL,
	[oiii_5007_flux] [real] NOT NULL,
	[oiii_5007_flux_err] [real] NOT NULL,
	[oiii_5007_inst_res] [real] NOT NULL,
	[oiii_5007_chisq] [real] NOT NULL,
	[hei_5876_cont] [real] NOT NULL,
	[hei_5876_cont_err] [real] NOT NULL,
	[hei_5876_reqw] [real] NOT NULL,
	[hei_5876_reqw_err] [real] NOT NULL,
	[hei_5876_eqw] [real] NOT NULL,
	[hei_5876_eqw_err] [real] NOT NULL,
	[hei_5876_flux] [real] NOT NULL,
	[hei_5876_flux_err] [real] NOT NULL,
	[hei_5876_inst_res] [real] NOT NULL,
	[hei_5876_chisq] [real] NOT NULL,
	[oi_6300_cont] [real] NOT NULL,
	[oi_6300_cont_err] [real] NOT NULL,
	[oi_6300_reqw] [real] NOT NULL,
	[oi_6300_reqw_err] [real] NOT NULL,
	[oi_6300_eqw] [real] NOT NULL,
	[oi_6300_eqw_err] [real] NOT NULL,
	[oi_6300_flux] [real] NOT NULL,
	[oi_6300_flux_err] [real] NOT NULL,
	[oi_6300_inst_res] [real] NOT NULL,
	[oi_6300_chisq] [real] NOT NULL,
	[nii_6548_cont] [real] NOT NULL,
	[nii_6548_cont_err] [real] NOT NULL,
	[nii_6548_reqw] [real] NOT NULL,
	[nii_6548_reqw_err] [real] NOT NULL,
	[nii_6548_eqw] [real] NOT NULL,
	[nii_6548_eqw_err] [real] NOT NULL,
	[nii_6548_flux] [real] NOT NULL,
	[nii_6548_flux_err] [real] NOT NULL,
	[nii_6548_inst_res] [real] NOT NULL,
	[nii_6548_chisq] [real] NOT NULL,
	[h_alpha_cont] [real] NOT NULL,
	[h_alpha_cont_err] [real] NOT NULL,
	[h_alpha_reqw] [real] NOT NULL,
	[h_alpha_reqw_err] [real] NOT NULL,
	[h_alpha_eqw] [real] NOT NULL,
	[h_alpha_eqw_err] [real] NOT NULL,
	[h_alpha_flux] [real] NOT NULL,
	[h_alpha_flux_err] [real] NOT NULL,
	[h_alpha_inst_res] [real] NOT NULL,
	[h_alpha_chisq] [real] NOT NULL,
	[nii_6584_cont] [real] NOT NULL,
	[nii_6584_cont_err] [real] NOT NULL,
	[nii_6584_reqw] [real] NOT NULL,
	[nii_6584_reqw_err] [real] NOT NULL,
	[nii_6584_eqw] [real] NOT NULL,
	[nii_6584_eqw_err] [real] NOT NULL,
	[nii_6584_flux] [real] NOT NULL,
	[nii_6584_flux_err] [real] NOT NULL,
	[nii_6584_inst_res] [real] NOT NULL,
	[nii_6584_chisq] [real] NOT NULL,
	[sii_6717_cont] [real] NOT NULL,
	[sii_6717_cont_err] [real] NOT NULL,
	[sii_6717_reqw] [real] NOT NULL,
	[sii_6717_reqw_err] [real] NOT NULL,
	[sii_6717_eqw] [real] NOT NULL,
	[sii_6717_eqw_err] [real] NOT NULL,
	[sii_6717_flux] [real] NOT NULL,
	[sii_6717_flux_err] [real] NOT NULL,
	[sii_6717_inst_res] [real] NOT NULL,
	[sii_6717_chisq] [real] NOT NULL,
	[sii_6731_cont] [real] NOT NULL,
	[sii_6731_cont_err] [real] NOT NULL,
	[sii_6731_reqw] [real] NOT NULL,
	[sii_6731_reqw_err] [real] NOT NULL,
	[sii_6731_eqw] [real] NOT NULL,
	[sii_6731_eqw_err] [real] NOT NULL,
	[sii_6731_flux] [real] NOT NULL,
	[sii_6731_flux_err] [real] NOT NULL,
	[sii_6731_inst_res] [real] NOT NULL,
	[sii_6731_chisq] [real] NOT NULL,
	[ariii7135_cont] [real] NOT NULL,
	[ariii7135_cont_err] [real] NOT NULL,
	[ariii7135_reqw] [real] NOT NULL,
	[ariii7135_reqw_err] [real] NOT NULL,
	[ariii7135_eqw] [real] NOT NULL,
	[ariii7135_eqw_err] [real] NOT NULL,
	[ariii7135_flux] [real] NOT NULL,
	[ariii7135_flux_err] [real] NOT NULL,
	[ariii7135_inst_res] [real] NOT NULL,
	[ariii7135_chisq] [real] NOT NULL,
	[oii_sigma] [real] NOT NULL,
	[oii_flux] [real] NOT NULL,
	[oii_flux_err] [real] NOT NULL,
	[oii_voff] [real] NOT NULL,
	[oii_chi2] [real] NOT NULL,
	[oiii_sigma] [real] NOT NULL,
	[oiii_flux] [real] NOT NULL,
	[oiii_flux_err] [real] NOT NULL,
	[oiii_voff] [real] NOT NULL,
	[oiii_chi2] [real] NOT NULL,
	[spectofiber] [real] NOT NULL,
 CONSTRAINT [pk_galSpecLine_specObjID2] PRIMARY KEY CLUSTERED 
(
	[specObjID] ASC
)WITH (DATA_COMPRESSION = PAGE, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [SPEC]
) ON [SPEC]

GO
/****** Object:  Table [dbo].[SpecDR7]    Script Date: 2/14/2017 9:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecDR72](
	[specObjID] numeric(20) NOT NULL,
	[dr7ObjID] [bigint] NOT NULL,
	[ra] [float] NOT NULL,
	[dec] [float] NOT NULL,
	[cx] [float] NOT NULL,
	[cy] [float] NOT NULL,
	[cz] [float] NOT NULL,
	[skyVersion] [tinyint] NOT NULL,
	[run] [smallint] NOT NULL,
	[rerun] [smallint] NOT NULL,
	[camcol] [tinyint] NOT NULL,
	[field] [smallint] NOT NULL,
	[obj] [smallint] NOT NULL,
	[nChild] [smallint] NOT NULL,
	[type] [smallint] NOT NULL,
	[probPSF] [real] NOT NULL,
	[insideMask] [tinyint] NOT NULL,
	[flags] [bigint] NOT NULL,
	[psfMag_u] [real] NOT NULL,
	[psfMag_g] [real] NOT NULL,
	[psfMag_r] [real] NOT NULL,
	[psfMag_i] [real] NOT NULL,
	[psfMag_z] [real] NOT NULL,
	[psfMagErr_u] [real] NOT NULL,
	[psfMagErr_g] [real] NOT NULL,
	[psfMagErr_r] [real] NOT NULL,
	[psfMagErr_i] [real] NOT NULL,
	[psfMagErr_z] [real] NOT NULL,
	[petroMag_u] [real] NOT NULL,
	[petroMag_g] [real] NOT NULL,
	[petroMag_r] [real] NOT NULL,
	[petroMag_i] [real] NOT NULL,
	[petroMag_z] [real] NOT NULL,
	[petroMagErr_u] [real] NOT NULL,
	[petroMagErr_g] [real] NOT NULL,
	[petroMagErr_r] [real] NOT NULL,
	[petroMagErr_i] [real] NOT NULL,
	[petroMagErr_z] [real] NOT NULL,
	[petroR50_r] [real] NOT NULL,
	[petroR90_r] [real] NOT NULL,
	[modelMag_u] [real] NOT NULL,
	[modelMag_g] [real] NOT NULL,
	[modelMag_r] [real] NOT NULL,
	[modelMag_i] [real] NOT NULL,
	[modelMag_z] [real] NOT NULL,
	[modelMagErr_u] [real] NOT NULL,
	[modelMagErr_g] [real] NOT NULL,
	[modelMagErr_r] [real] NOT NULL,
	[modelMagErr_i] [real] NOT NULL,
	[modelMagErr_z] [real] NOT NULL,
	[mRrCc_r] [real] NOT NULL,
	[mRrCcErr_r] [real] NOT NULL,
	[lnLStar_r] [real] NOT NULL,
	[lnLExp_r] [real] NOT NULL,
	[lnLDeV_r] [real] NOT NULL,
	[status] [int] NOT NULL,
	[primTarget] [int] NOT NULL,
	[secTarget] [int] NOT NULL,
	[extinction_u] [real] NOT NULL,
	[extinction_g] [real] NOT NULL,
	[extinction_r] [real] NOT NULL,
	[extinction_i] [real] NOT NULL,
	[extinction_z] [real] NOT NULL,
	[htmID] [bigint] NOT NULL,
	[fieldID] [bigint] NOT NULL,
	[size] [real] NOT NULL,
	[pmRa] [real] NOT NULL,
	[pmDec] [real] NOT NULL,
	[pmL] [real] NOT NULL,
	[pmB] [real] NOT NULL,
	[pmRaErr] [real] NOT NULL,
	[pmDecErr] [real] NOT NULL,
	[delta] [real] NOT NULL,
	[match] [int] NOT NULL,
 CONSTRAINT [pk_SpecDR7_specObjID2] PRIMARY KEY CLUSTERED 
(
	[specObjID] ASC
)WITH (DATA_COMPRESSION = PAGE, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [SPEC]
) ON [SPEC]

GO
/****** Object:  Table [dbo].[SpecObjAll2]    Script Date: 2/14/2017 9:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE TABLE [dbo].[SpecObjAll2](
	[specObjID] numeric(20) NOT NULL,
	[bestObjID] [bigint] NOT NULL,
	[fluxObjID] [bigint] NOT NULL,
	[targetObjID] [bigint] NOT NULL,
	[plateID] [bigint] NOT NULL,
	[sciencePrimary] [smallint] NOT NULL,
	[legacyPrimary] [smallint] NOT NULL,
	[seguePrimary] [smallint] NOT NULL,
	[segue1Primary] [smallint] NOT NULL,
	[segue2Primary] [smallint] NOT NULL,
	[bossPrimary] [smallint] NOT NULL,
	[sdssPrimary] [smallint] NOT NULL,
	[bossSpecObjID] [int] NOT NULL,
	[firstRelease] [varchar](32) NOT NULL,
	[survey] [varchar](32) NOT NULL,
	[instrument] [varchar](32) NOT NULL,
	[programname] [varchar](32) NOT NULL,
	[chunk] [varchar](32) NOT NULL,
	[platerun] [varchar](32) NOT NULL,
	[mjd] [int] NOT NULL,
	[plate] [smallint] NOT NULL,
	[fiberID] [smallint] NOT NULL,
	[run1d] [varchar](32) NOT NULL,
	[run2d] [varchar](32) NOT NULL,
	[tile] [int] NOT NULL,
	[designID] [int] NOT NULL,
	[legacy_target1] [bigint] NOT NULL,
	[legacy_target2] [bigint] NOT NULL,
	[special_target1] [bigint] NOT NULL,
	[special_target2] [bigint] NOT NULL,
	[segue1_target1] [bigint] NOT NULL,
	[segue1_target2] [bigint] NOT NULL,
	[segue2_target1] [bigint] NOT NULL,
	[segue2_target2] [bigint] NOT NULL,
	[boss_target1] [bigint] NOT NULL,
	[eboss_target0] [bigint] NOT NULL,
	[ancillary_target1] [bigint] NOT NULL,
	[ancillary_target2] [bigint] NOT NULL,
	[primTarget] [bigint] NOT NULL,
	[secTarget] [bigint] NOT NULL,
	[spectrographID] [smallint] NOT NULL,
	[sourceType] [varchar](128) NOT NULL,
	[targetType] [varchar](128) NOT NULL,
	[ra] [float] NOT NULL,
	[dec] [float] NOT NULL,
	[cx] [float] NOT NULL,
	[cy] [float] NOT NULL,
	[cz] [float] NOT NULL,
	[xFocal] [real] NOT NULL,
	[yFocal] [real] NOT NULL,
	[lambdaEff] [real] NOT NULL,
	[blueFiber] [int] NOT NULL,
	[zOffset] [real] NOT NULL,
	[z] [real] NOT NULL,
	[zErr] [real] NOT NULL,
	[zWarning] [int] NOT NULL,
	[class] [varchar](32) NOT NULL,
	[subClass] [varchar](32) NOT NULL,
	[rChi2] [real] NOT NULL,
	[DOF] [real] NOT NULL,
	[rChi2Diff] [real] NOT NULL,
	[z_noqso] [real] NOT NULL,
	[zErr_noqso] [real] NOT NULL,
	[zWarning_noqso] [int] NOT NULL,
	[class_noqso] [varchar](32) NOT NULL,
	[subClass_noqso] [varchar](32) NOT NULL,
	[rChi2Diff_noqso] [real] NOT NULL,
	[z_person] [real] NOT NULL,
	[class_person] [varchar](32) NOT NULL,
	[comments_person] [varchar](200) NOT NULL,
	[tFile] [varchar](32) NOT NULL,
	[tColumn_0] [smallint] NOT NULL,
	[tColumn_1] [smallint] NOT NULL,
	[tColumn_2] [smallint] NOT NULL,
	[tColumn_3] [smallint] NOT NULL,
	[tColumn_4] [smallint] NOT NULL,
	[tColumn_5] [smallint] NOT NULL,
	[tColumn_6] [smallint] NOT NULL,
	[tColumn_7] [smallint] NOT NULL,
	[tColumn_8] [smallint] NOT NULL,
	[tColumn_9] [smallint] NOT NULL,
	[nPoly] [real] NOT NULL,
	[theta_0] [real] NOT NULL,
	[theta_1] [real] NOT NULL,
	[theta_2] [real] NOT NULL,
	[theta_3] [real] NOT NULL,
	[theta_4] [real] NOT NULL,
	[theta_5] [real] NOT NULL,
	[theta_6] [real] NOT NULL,
	[theta_7] [real] NOT NULL,
	[theta_8] [real] NOT NULL,
	[theta_9] [real] NOT NULL,
	[velDisp] [real] NOT NULL,
	[velDispErr] [real] NOT NULL,
	[velDispZ] [real] NOT NULL,
	[velDispZErr] [real] NOT NULL,
	[velDispChi2] [real] NOT NULL,
	[velDispNPix] [int] NOT NULL,
	[velDispDOF] [int] NOT NULL,
	[waveMin] [real] NOT NULL,
	[waveMax] [real] NOT NULL,
	[wCoverage] [real] NOT NULL,
	[snMedian_u] [real] NOT NULL,
	[snMedian_g] [real] NOT NULL,
	[snMedian_r] [real] NOT NULL,
	[snMedian_i] [real] NOT NULL,
	[snMedian_z] [real] NOT NULL,
	[snMedian] [real] NOT NULL,
	[chi68p] [real] NOT NULL,
	[fracNSigma_1] [real] NOT NULL,
	[fracNSigma_2] [real] NOT NULL,
	[fracNSigma_3] [real] NOT NULL,
	[fracNSigma_4] [real] NOT NULL,
	[fracNSigma_5] [real] NOT NULL,
	[fracNSigma_6] [real] NOT NULL,
	[fracNSigma_7] [real] NOT NULL,
	[fracNSigma_8] [real] NOT NULL,
	[fracNSigma_9] [real] NOT NULL,
	[fracNSigma_10] [real] NOT NULL,
	[fracNSigHi_1] [real] NOT NULL,
	[fracNSigHi_2] [real] NOT NULL,
	[fracNSigHi_3] [real] NOT NULL,
	[fracNSigHi_4] [real] NOT NULL,
	[fracNSigHi_5] [real] NOT NULL,
	[fracNSigHi_6] [real] NOT NULL,
	[fracNSigHi_7] [real] NOT NULL,
	[fracNSigHi_8] [real] NOT NULL,
	[fracNSigHi_9] [real] NOT NULL,
	[fracNSigHi_10] [real] NOT NULL,
	[fracNSigLo_1] [real] NOT NULL,
	[fracNSigLo_2] [real] NOT NULL,
	[fracNSigLo_3] [real] NOT NULL,
	[fracNSigLo_4] [real] NOT NULL,
	[fracNSigLo_5] [real] NOT NULL,
	[fracNSigLo_6] [real] NOT NULL,
	[fracNSigLo_7] [real] NOT NULL,
	[fracNSigLo_8] [real] NOT NULL,
	[fracNSigLo_9] [real] NOT NULL,
	[fracNSigLo_10] [real] NOT NULL,
	[spectroFlux_u] [real] NOT NULL,
	[spectroFlux_g] [real] NOT NULL,
	[spectroFlux_r] [real] NOT NULL,
	[spectroFlux_i] [real] NOT NULL,
	[spectroFlux_z] [real] NOT NULL,
	[spectroSynFlux_u] [real] NOT NULL,
	[spectroSynFlux_g] [real] NOT NULL,
	[spectroSynFlux_r] [real] NOT NULL,
	[spectroSynFlux_i] [real] NOT NULL,
	[spectroSynFlux_z] [real] NOT NULL,
	[spectroFluxIvar_u] [real] NOT NULL,
	[spectroFluxIvar_g] [real] NOT NULL,
	[spectroFluxIvar_r] [real] NOT NULL,
	[spectroFluxIvar_i] [real] NOT NULL,
	[spectroFluxIvar_z] [real] NOT NULL,
	[spectroSynFluxIvar_u] [real] NOT NULL,
	[spectroSynFluxIvar_g] [real] NOT NULL,
	[spectroSynFluxIvar_r] [real] NOT NULL,
	[spectroSynFluxIvar_i] [real] NOT NULL,
	[spectroSynFluxIvar_z] [real] NOT NULL,
	[spectroSkyFlux_u] [real] NOT NULL,
	[spectroSkyFlux_g] [real] NOT NULL,
	[spectroSkyFlux_r] [real] NOT NULL,
	[spectroSkyFlux_i] [real] NOT NULL,
	[spectroSkyFlux_z] [real] NOT NULL,
	[anyAndMask] [int] NOT NULL,
	[anyOrMask] [int] NOT NULL,
	[plateSN2] [real] NOT NULL,
	[deredSN2] [real] NOT NULL,
	[snTurnoff] [real] NOT NULL,
	[sn1_g] [real] NOT NULL,
	[sn1_r] [real] NOT NULL,
	[sn1_i] [real] NOT NULL,
	[sn2_g] [real] NOT NULL,
	[sn2_r] [real] NOT NULL,
	[sn2_i] [real] NOT NULL,
	[elodieFileName] [varchar](32) NOT NULL,
	[elodieObject] [varchar](32) NOT NULL,
	[elodieSpType] [varchar](32) NOT NULL,
	[elodieBV] [real] NOT NULL,
	[elodieTEff] [real] NOT NULL,
	[elodieLogG] [real] NOT NULL,
	[elodieFeH] [real] NOT NULL,
	[elodieZ] [real] NOT NULL,
	[elodieZErr] [real] NOT NULL,
	[elodieZModelErr] [real] NOT NULL,
	[elodieRChi2] [real] NOT NULL,
	[elodieDOF] [real] NOT NULL,
	[htmID] [bigint] NOT NULL,
	[loadVersion] [int] NOT NULL,
	[img] [varbinary](max) NOT NULL,
 CONSTRAINT [pk_SpecObjAll_specObjID] PRIMARY KEY CLUSTERED 
(
	[specObjID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
) ON [SPEC] TEXTIMAGE_ON [SPEC]

GO
*/
/****** Object:  Table [dbo].[sppParams]    Script Date: 2/14/2017 9:32:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sppParams2](
	[SPECOBJID] numeric(20) NOT NULL,
	[BESTOBJID] [bigint] NOT NULL,
	[FLUXOBJID] [bigint] NOT NULL,
	[TARGETOBJID] [bigint] NOT NULL,
	[PLATEID] [bigint] NOT NULL,
	[sciencePrimary] [smallint] NOT NULL,
	[legacyPrimary] [smallint] NOT NULL,
	[seguePrimary] [smallint] NOT NULL,
	[FIRSTRELEASE] [varchar](32) NOT NULL,
	[SURVEY] [varchar](32) NOT NULL,
	[PROGRAMNAME] [varchar](32) NOT NULL,
	[CHUNK] [varchar](32) NOT NULL,
	[PLATERUN] [varchar](32) NOT NULL,
	[MJD] [bigint] NOT NULL,
	[PLATE] [bigint] NOT NULL,
	[FIBERID] [bigint] NOT NULL,
	[RUN2D] [varchar](32) NOT NULL,
	[RUN1D] [varchar](32) NOT NULL,
	[RUNSSPP] [varchar](32) NOT NULL,
	[TARGETSTRING] [varchar](32) NOT NULL,
	[PRIMTARGET] [bigint] NOT NULL,
	[SECTARGET] [bigint] NOT NULL,
	[LEGACY_TARGET1] [bigint] NOT NULL,
	[LEGACY_TARGET2] [bigint] NOT NULL,
	[SPECIAL_TARGET1] [bigint] NOT NULL,
	[SPECIAL_TARGET2] [bigint] NOT NULL,
	[SEGUE1_TARGET1] [bigint] NOT NULL,
	[SEGUE1_TARGET2] [bigint] NOT NULL,
	[SEGUE2_TARGET1] [bigint] NOT NULL,
	[SEGUE2_TARGET2] [bigint] NOT NULL,
	[SPECTYPEHAMMER] [varchar](32) NOT NULL,
	[SPECTYPESUBCLASS] [varchar](32) NOT NULL,
	[FLAG] [varchar](32) NOT NULL,
	[TEFFADOP] [real] NOT NULL,
	[TEFFADOPN] [tinyint] NOT NULL,
	[TEFFADOPUNC] [real] NOT NULL,
	[TEFFHA24] [real] NOT NULL,
	[TEFFHD24] [real] NOT NULL,
	[TEFFNGS1] [real] NOT NULL,
	[TEFFANNSR] [real] NOT NULL,
	[TEFFANNRR] [real] NOT NULL,
	[TEFFWBG] [real] NOT NULL,
	[TEFFK24] [real] NOT NULL,
	[TEFFKI13] [real] NOT NULL,
	[TEFFHA24IND] [tinyint] NOT NULL,
	[TEFFHD24IND] [tinyint] NOT NULL,
	[TEFFNGS1IND] [tinyint] NOT NULL,
	[TEFFANNSRIND] [tinyint] NOT NULL,
	[TEFFANNRRIND] [tinyint] NOT NULL,
	[TEFFWBGIND] [tinyint] NOT NULL,
	[TEFFK24IND] [tinyint] NOT NULL,
	[TEFFKI13IND] [tinyint] NOT NULL,
	[TEFFHA24UNC] [real] NOT NULL,
	[TEFFHD24UNC] [real] NOT NULL,
	[TEFFNGS1UNC] [real] NOT NULL,
	[TEFFANNSRUNC] [real] NOT NULL,
	[TEFFANNRRUNC] [real] NOT NULL,
	[TEFFWBGUNC] [real] NOT NULL,
	[TEFFK24UNC] [real] NOT NULL,
	[TEFFKI13UNC] [real] NOT NULL,
	[LOGGADOP] [real] NOT NULL,
	[LOGGADOPN] [tinyint] NOT NULL,
	[LOGGADOPUNC] [real] NOT NULL,
	[LOGGNGS2] [real] NOT NULL,
	[LOGGNGS1] [real] NOT NULL,
	[LOGGANNSR] [real] NOT NULL,
	[LOGGANNRR] [real] NOT NULL,
	[LOGGCAI1] [real] NOT NULL,
	[LOGGWBG] [real] NOT NULL,
	[LOGGK24] [real] NOT NULL,
	[LOGGKI13] [real] NOT NULL,
	[LOGGNGS2IND] [tinyint] NOT NULL,
	[LOGGNGS1IND] [tinyint] NOT NULL,
	[LOGGANNSRIND] [tinyint] NOT NULL,
	[LOGGANNRRIND] [tinyint] NOT NULL,
	[LOGGCAI1IND] [tinyint] NOT NULL,
	[LOGGWBGIND] [tinyint] NOT NULL,
	[LOGGK24IND] [tinyint] NOT NULL,
	[LOGGKI13IND] [tinyint] NOT NULL,
	[LOGGNGS2UNC] [real] NOT NULL,
	[LOGGNGS1UNC] [real] NOT NULL,
	[LOGGANNSRUNC] [real] NOT NULL,
	[LOGGANNRRUNC] [real] NOT NULL,
	[LOGGCAI1UNC] [real] NOT NULL,
	[LOGGWBGUNC] [real] NOT NULL,
	[LOGGK24UNC] [real] NOT NULL,
	[LOGGKI13UNC] [real] NOT NULL,
	[FEHADOP] [real] NOT NULL,
	[FEHADOPN] [tinyint] NOT NULL,
	[FEHADOPUNC] [real] NOT NULL,
	[FEHNGS2] [real] NOT NULL,
	[FEHNGS1] [real] NOT NULL,
	[FEHANNSR] [real] NOT NULL,
	[FEHANNRR] [real] NOT NULL,
	[FEHCAIIK1] [real] NOT NULL,
	[FEHCAIIK2] [real] NOT NULL,
	[FEHCAIIK3] [real] NOT NULL,
	[FEHWBG] [real] NOT NULL,
	[FEHK24] [real] NOT NULL,
	[FEHKI13] [real] NOT NULL,
	[FEHNGS2IND] [tinyint] NOT NULL,
	[FEHNGS1IND] [tinyint] NOT NULL,
	[FEHANNSRIND] [tinyint] NOT NULL,
	[FEHANNRRIND] [tinyint] NOT NULL,
	[FEHCAIIK1IND] [tinyint] NOT NULL,
	[FEHCAIIK2IND] [tinyint] NOT NULL,
	[FEHCAIIK3IND] [tinyint] NOT NULL,
	[FEHWBGIND] [tinyint] NOT NULL,
	[FEHK24IND] [tinyint] NOT NULL,
	[FEHKI13IND] [tinyint] NOT NULL,
	[FEHNGS2UNC] [real] NOT NULL,
	[FEHNGS1UNC] [real] NOT NULL,
	[FEHANNSRUNC] [real] NOT NULL,
	[FEHANNRRUNC] [real] NOT NULL,
	[FEHCAIIK1UNC] [real] NOT NULL,
	[FEHCAIIK2UNC] [real] NOT NULL,
	[FEHCAIIK3UNC] [real] NOT NULL,
	[FEHWBGUNC] [real] NOT NULL,
	[FEHK24UNC] [real] NOT NULL,
	[FEHKI13UNC] [real] NOT NULL,
	[SNR] [real] NOT NULL,
	[QA] [tinyint] NOT NULL,
	[CCCAHK] [real] NOT NULL,
	[CCMGH] [real] NOT NULL,
	[TEFFSPEC] [real] NOT NULL,
	[TEFFSPECN] [tinyint] NOT NULL,
	[TEFFSPECUNC] [real] NOT NULL,
	[LOGGSPEC] [real] NOT NULL,
	[LOGGSPECN] [tinyint] NOT NULL,
	[LOGGSPECUNC] [real] NOT NULL,
	[FEHSPEC] [real] NOT NULL,
	[FEHSPECN] [tinyint] NOT NULL,
	[FEHSPECUNC] [real] NOT NULL,
	[ACF1] [real] NOT NULL,
	[ACF1SNR] [real] NOT NULL,
	[ACF2] [real] NOT NULL,
	[ACF2SNR] [real] NOT NULL,
	[INSPECT] [varchar](32) NOT NULL,
	[ELODIERVFINAL] [real] NOT NULL,
	[ELODIERVFINALERR] [real] NOT NULL,
	[ZWARNING] [bigint] NOT NULL,
	[TEFFIRFM] [real] NOT NULL,
	[TEFFIRFMIND] [tinyint] NOT NULL,
	[TEFFIRFMUNC] [real] NOT NULL,
	[LOGGNGS1IRFM] [real] NOT NULL,
	[LOGGNGS1IRFMIND] [tinyint] NOT NULL,
	[LOGGNGS1IRFMUNC] [real] NOT NULL,
	[FEHNGS1IRFM] [real] NOT NULL,
	[FEHNGS1IRFMIND] [tinyint] NOT NULL,
	[FEHNGS1IRFMUNC] [real] NOT NULL,
	[LOGGCAI1IRFM] [real] NOT NULL,
	[LOGGCAI1IRFMIND] [tinyint] NOT NULL,
	[LOGGCAI1IRFMUNC] [real] NOT NULL,
	[FEHCAIIK1IRFM] [real] NOT NULL,
	[FEHCAIIK1IRFMIND] [tinyint] NOT NULL,
	[FEHCAIIK1IRFMUNC] [real] NOT NULL,
 CONSTRAINT [pk_sppParams_specObjID2] PRIMARY KEY CLUSTERED 
(
	[SPECOBJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
) ON [SPEC]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [i_SpecObjAll_BestObjID_sourceTyp]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_BestObjID_sourceTyp] ON [dbo].[SpecObjAll2]
(
	[bestObjID] ASC,
	[sourceType] ASC,
	[sciencePrimary] ASC,
	[class] ASC,
	[htmID] ASC,
	[ra] ASC,
	[dec] ASC,
	[plate] ASC,
	[mjd] ASC,
	[fiberID] ASC,
	[z] ASC,
	[zErr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [i_SpecObjAll_class_zWarning_z_sc]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_class_zWarning_z_sc] ON [dbo].[SpecObjAll2]
(
	[class] ASC,
	[zWarning] ASC,
	[z] ASC,
	[sciencePrimary] ASC,
	[plateID] ASC,
	[bestObjID] ASC,
	[targetObjID] ASC,
	[htmID] ASC,
	[ra] ASC,
	[dec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
/****** Object:  Index [i_SpecObjAll_fluxObjID]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_fluxObjID] ON [dbo].[SpecObjAll2]
(
	[fluxObjID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
/****** Object:  Index [i_SpecObjAll_htmID_ra_dec_cx_cy_]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_htmID_ra_dec_cx_cy_] ON [dbo].[SpecObjAll2]
(
	[htmID] ASC,
	[ra] ASC,
	[dec] ASC,
	[cx] ASC,
	[cy] ASC,
	[cz] ASC,
	[sciencePrimary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [i_SpecObjAll_ra_dec_class_plat]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_ra_dec_class_plat] ON [dbo].[SpecObjAll2]
(
	[ra] ASC,
	[dec] ASC,
	[class] ASC,
	[plate] ASC,
	[tile] ASC,
	[z] ASC,
	[zErr] ASC,
	[sciencePrimary] ASC,
	[plateID] ASC,
	[bestObjID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [i_SpecObjAll_targetObjID_sourceT]    Script Date: 2/14/2017 9:32:21 AM ******/
CREATE NONCLUSTERED INDEX [i_SpecObjAll_targetObjID_sourceT] ON [dbo].[SpecObjAll2]
(
	[targetObjID] ASC,
	[sourceType] ASC,
	[sciencePrimary] ASC,
	[class] ASC,
	[htmID] ASC,
	[ra] ASC,
	[dec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, DATA_COMPRESSION = PAGE) ON [SPEC]
GO
/*
ALTER TABLE [dbo].[SpecObjAll2] ADD  DEFAULT (0x1111) FOR [img]
GO
*/