-- Patch to update spectrum FITs generator function and update the version to 17.3

USE [BestDR17]
GO
/****** Object:  UserDefinedFunction [dbo].[fGetUrlFitsSpectrum]    Script Date: 12/10/2021 12:03:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
ALTER FUNCTION [dbo].[fGetUrlFitsSpectrum](@specObjID numeric(20,0))
-------------------------------------------------
--/H Get the URL to the FITS file of the spectrum given the SpecObjID
-------------------------------------------------
--/T Combines the value of the DataServer URL from the
--/T SiteConstants table and builds up the whole URL
--/T from the specObjId.
--/T <br><samp> select dbo.fGetUrlFitsSpectrum(75094092974915584)</samp>
-------------------------------------------------
RETURNS varchar(128)
BEGIN
	DECLARE @link varchar(128), @plate varchar(8), @mjd varchar(8), 
	    @fiber varchar(8), @rerun varchar(16), @release varchar(8), 
	    @survey varchar(16), @oplate varchar(8), @ofiber varchar(8);
	SET @link = (SELECT value FROM SiteConstants WHERE name='DataServerURL');
	SET @release = (select value from SiteConstants where name='Release');
	SELECT @rerun = isnull(p.run2d, p.run1d), @survey = p.survey,
	    @mjd = cast(p.mjd as varchar(8)), @plate=cast(p.plate as varchar(8)), 
	    @fiber=cast(s.fiberID as varchar(8)) 
	    FROM PlateX p JOIN specObjAll s ON p.plateId=s.plateId 
	    WHERE s.specObjID=@specObjId;
	IF @survey != 'boss'
            SET @survey = 'sdss'
	ELSE
	    SET @survey = 'eboss'
	IF len(@plate) > 4
		SET @oplate = @plate
	ELSE
		SET @oplate = substring('0000',1,4-len(@plate)) + @plate;
	SET @ofiber = substring( '0000',1,4-len(@fiber)) + @fiber;
	SET @link = @link + 'sas/dr' + @release + '/' + @survey + '/spectro/redux/' +
		@rerun + '/spectra/lite/' + @oplate + '/spec-' + @oplate + '-' + 
		@mjd + '-' + @ofiber + '.fits';
	RETURN @link;
END
GO



EXECUTE spSetVersion
  0
  ,0
  ,'17'
  ,'639d0bb'
  ,'Update DR'
  ,'.3'
  ,'Function update for DR17'
  ,'Re-applied DR16 fix to fGetUrlFitsSpectrum'
  ,'A.Thakar'
  ,0

